doctype 5
html
	head
		title= title

		link(href='styles/main.css',rel="stylesheet",type="text/css")

	body
		h1 screenshoter

		div.inputs-block
			p
				input#page_url(placeholder='page url')
			p
				input#img_width(placeholder='width', value='150')
				input#img_height(placeholder='height', value='100')
			p
				input#vwp_width(placeholder='viewport width', value='1024')
				input#vwp_height(placeholder='viewport height', value='768')
			p
				button#submit(name='submit') show image

		div#image-block
			img#result_img.hidden

		script(src="scripts/core.js")
