doctype 5
html
	head
		title= title

		link(href='styles/main.css',rel="stylesheet",type="text/css")
		link(href='styles/bootstrap.min.css',rel="stylesheet",type="text/css")
		link(href='styles/bootstrap-responsive.min.css',rel="stylesheet",type="text/css")

	body

		div.container
			div.row
				div.span12
					h1 screenshoter
		
			div.row
				form
					div.span6
						fieldset
							legend Setup
							div.row
								p.span6
									label Web page url
									input#page_url.span6(type="text", placeholder="Webpage URL")

							div.row 
								p.span3
									label Image width
									input#img_width.span3(type="text", placeholder="Image width", value="150")

								p.span3
									label Image height
									input#img_height.span3(type="text", placeholder="Image height", value="100")

							div.row 
								p.span3
									label Viewport width
									input#vwp_width.span3(type="text", placeholder="Viewport width", value="1024")

								p.span3
									label Viewport height
									input#vwp_height.span3(type="text", placeholder="Viewport height", value="768")

						div.row
							p.span6.text-right
								button#submit.btn(type="button") Take screenshot

					div.span6
						legend Image preview
						div.row
							div#image-block.span6.text-center								
								div#loodingText.hidden.row
									p.span6 looding...
								div#errorText.hidden.row 
									p.span6 error...
								div.row
									div#resultImgBlock.hidden
										img#result_img
								div.row
									div#buttonsBlock.input-append.span6.hidden
										input#uploadToServerUrl.span4(type="text")
										button#uploadToServer.btn(type="button") Upload to server
										button#downloadFromServer.btn(type="button") Save
								

		script(src="scripts/core.js")
