doctype 5
html
	head
		title= title

	body
		h1 screenshoter

		div.inputs-block
			p
				input(name='page_url',placeholder='page url')
			p
				input(name='img_width',placeholder='width')
				input(name='img_height',placeholder='height')
			p
				button(name='submit') show image	
